<footer class="bg-faded mt-4">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col-md-3">
                <h5>Welcome</h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">to the weather!
            	<br>
            	<span class="small">boom</span>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">©2017 Eckman, Inc.</div>
        </div>
    </div>
</footer>